<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shark"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
        android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FemaleExActivity"/>
        <activity android:name=".Female_Hands"/>
        <activity android:name=".Female_Back"/>
        <activity android:name=".Female_Glutee"/>
        <activity android:name=".Female_Chest"/>
        <activity android:name=".Female_Legs"/>
        <activity android:name=".Female_Abs"/>
        <activity android:name=".MealActivity"/>
        <activity android:name=".Meal1Activity"/>
        <activity android:name=".Meal2Activity"/>
    </application>

</manifest>